<section *ngIf="genero">
    <div class="d-flex justify-content-between align-items-center border-bottom mb-4 mt-5">
        <h1>Editar gênero musical</h1>
        <div>
          <a class="btn btn-link" routerLink="/admin/generos"><i class="fas fa-arrow-left"></i> Voltar para a lista</a>
        </div>
      </div>
      <p class="small text-muted">
          Utilize o formulário a seguir para editar as informações do gênero musical
          "{{genero.nome}}".
      </p>

  <form #cadastro="ngForm" (submit)="salvar()">
    <div *ngIf="validacao$.erro === false" class="alert alert-success">
      <strong>Sucesso!</strong> Os dados foram cadastrados com sucesso.
    </div>
    <div *ngIf="validacao$.erro" class="alert alert-danger">
      <strong>Ops!</strong> Não foi possível concluir a edição dos dados do gênero musical por causa dos erros a seguir.
    </div>
    <div class="form-group">
      <label for="nome">Nome</label>
      <input type="text" name="nome" id="nome" [(ngModel)]="genero.nome" class="form-control" required
        [class.is-invalid]="validacao$.campoInvalido(campo_nome) || validacao$.temErro('nome')" #campo_nome="ngModel">
      <div *ngIf="validacao$.campoInvalido(campo_nome) || validacao$.temErro('nome')" class="invalid-feedback">
        <span *ngIf="campo_nome.errors && campo_nome.errors.required">
          Por favor, informe o nome do gênero musical.
        </span>
        <span *ngIf="validacao$.temErro('nome')">
          {{validacao$.textoErro('nome')}}
        </span>
      </div>
    </div>
    <div>
      <button class="btn btn-primary" [disabled]="!cadastro.form.valid">Salvar</button>
    </div>
  </form>
</section>