<section *ngIf="generos else carregando">
  <div class="d-flex justify-content-between align-items-center border-bottom mb-4 mt-5">
    <h1>Gêneros musicais</h1>
    <div>
      <a class="btn btn-success" routerLink="/admin/generos/cadastrar"><i class="fas fa-plus"></i> Cadastrar</a>
    </div>
  </div>

  <div *ngIf="resultadoExcluir === true" class="alert alert-success">
    <strong>Sucesso!</strong> O gênero musical foi excluído com sucesso.
  </div>
  <div *ngIf="resultadoExcluir === false" class="alert alert-danger">
    <strong>Ops!</strong> {{resultadoExcluir}}
  </div>

  <table class="table table-bordered table-striped table-hover">
    <thead>
      <tr>
        <th scope="col">Gênero</th>
        <th scope="col" width="150px">Ações</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let genero of generos">
        <td>
          {{genero.nome}}
        </td>
        <td>
          <button class="btn btn-danger btn-sm mr-2" (click)="excluir(genero)">
            <i class="fas fa-trash-alt"></i>
          </button>
          <button class="btn btn-success btn-sm mr-2" (click)="editar(genero)">
            <i class="fas fa-edit"></i>
          </button>
        </td>
      </tr>
    </tbody>
  </table>

  <div class="d-flex justify-content-end">
    <pagination [totalItems]="count" [rotate]="true" [itemsPerPage]="limit" (pageChanged)="pageChanged($event)"
      [maxSize]="5" [(ngModel)]="offset" previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;"
      lastText="&raquo;"></pagination>
  </div>
</section>
<ng-template #carregando>
  <section>Aguarde. Carregando...</section>
</ng-template>