<section>
    <h1 class="mb-4 mt-5 border-bottom">Artistas</h1>
    <p>Encontre informações dos artistas e suas músicas</p>
  
    <div class="list-group" *ngIf="artistas">
      <a *ngFor="let artista of artistas.results" [routerLink]="['/artistas', artista.id]"
        class="list-group-item list-group-item-action">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1">{{artista.nome}}</h5>
          <small>{{artista.musicas.length}} música(s)</small>
        </div>
        <small class="text-muted" *ngIf="artista.musicas.length > 1">
          <strong>{{artista.musicas[0].titulo}}</strong> e outra(s) {{artista.musicas.length-1}} música(s)
        </small>
      </a>
    </div>
  </section>