<section *ngIf="artistas else carregando">
  <h1 class="mb-4 mt-5 border-bottom">Artistas</h1>

  <div *ngIf="resultadoExcluir === true" class="alert alert-success">
    <strong>Sucesso!</strong> O artista foi excluído com sucesso.
  </div>
  <div *ngIf="resultadoExcluir === false" class="alert alert-danger">
    <strong>Ops!</strong> {{resultadoExcluir}}
  </div>

  <table class="table table-bordered table-striped table-hover">
    <thead>
      <tr>
        <th scope="col">Artista</th>
        <th scope="col" width="150px">Ações</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let artista of artistas">
        <td>
          <div class="d-flex w-100 justify-content-start">
            <img [src]="artista.foto" class="rounded-circle" style="width: 32px; height: 32px;">
            <span class="mb-1 ml-3">{{artista.nome}}</span>
          </div>
        </td>
        <td>
          <button class="btn btn-danger btn-sm mr-2" (click)="excluir(artista)"><i class="fas fa-trash-alt"></i></button> 
          <button class="btn btn-success btn-sm mr-2" (click)="editar(artista)"><i class="fas fa-edit"></i></button> 
          <button class="btn btn-info btn-sm" (click)="consultar(artista)"><i class="fas fa-info-circle"></i></button> 
        </td>
      </tr>
    </tbody>
  </table>
</section>
<ng-template #carregando>
  <section>Aguarde. Carregando...</section>
</ng-template>