<section *ngIf="musica else carregando">
  <h1 class="mb-4 mt-5 border-bottom">{{musica.titulo}}</h1>
  <div *ngIf="musica.artistas">
    <span *ngIf="musica.artistas.length == 1"><i class="text-muted fas fa-user"></i></span>
    <span *ngIf="musica.artistas.length != 1"><i class="text-muted fas fa-users"></i></span>
    &nbsp;
    <span *ngFor="let artista of musica.artistas; last as ultimo">
      <a [routerLink]="['/artistas', artista.id]">{{ artista.nome }}</a><span *ngIf="!ultimo">, </span>
    </span>
  </div>
  <div *ngIf="musica.genero">
    <i class="text-muted fas fa-tag"></i>
    &nbsp;
    <a [routerLink]="[ '/generos', musica.genero.id ]">{{musica.genero.nome}}</a>
  </div>
  <div class="mt-2 pb-3 border-bottom">
    <button class="btn btn-success" (click)="gostar()">
      Gostar
      <span class="badge badge-success bg-dark">{{musica.gostar}}</span>
    </button>
    &nbsp;
    <button class="btn btn-danger" (click)="naoGostar()">
      Não gostar
      <span class="badge badge-danger bg-dark">{{musica.naoGostar}}</span>
    </button>
  </div>
  <div *ngIf="musica.letra" style="white-space: pre-line">
    {{musica.letra}}
  </div>
  <div class="mt-4" *ngIf="relacionadas">
    <app-lista-de-musicas [musicas]="relacionadas"></app-lista-de-musicas>
  </div>
</section>
<ng-template #carregando>
  <section>Aguarde. Carregando...</section>
</ng-template>